# SC1091: Not following <file>
# https://github.com/koalaman/shellcheck/wiki/SC1091
disable=SC1091

# SC2034: foo appears unused. Verify it or export it.
# https://www.shellcheck.net/wiki/SC2034
disable=SC2034

# SC1090: Can't follow non-constant source. Use a directive to specify location.
# https://www.shellcheck.net/wiki/SC1090
disable=SC1090

# SC2030: Modification of var is local
# https://www.shellcheck.net/wiki/SC2030
disable=SC2030

# SC2031: var was modified in a subshell.
# https://github.com/koalaman/shellcheck/wiki/SC2031
disable=SC2031
